@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); /* font-family: 'Poppins', sans-serif; */

:root {
    --background: #2D3250;
    --primary: #424769;
    --secondary: #7077A1;
    --tertiary: #F6B17A;
    --quaternary: #f0d2ba;
}

* {
    margin: 0;
}

body {
    background-color: var(--background);
}

main {
    margin: 2.5rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.flex-container {
    display: flex;
}

.main-button {
    background-color: var(--primary);
    color: var(--tertiary);
    text-decoration: none;
    padding: 1em;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
}

.main-button:hover {
    background-color: var(--secondary);
    color: var(--quaternary);
}

.main-form {
    padding: 1rem;
    background-color: var(--primary);
    border-radius: 12px;
    color: var(--tertiary);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-flow: column nowrap;
}

input[type=number]{
    width: 4rem;
    font-size: large;
}

button[type=submit]{
    margin-top: 2rem;
    background-color: var(--secondary);
    color: var(--tertiary);
    border: 0;
    padding: 0.8em;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

button[type=submit]:hover{
    background-color: var(--background);
    color: var(--quaternary);
    cursor: pointer;
}

.main-table{
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--primary);
}

.main-table thead {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    color: var(--tertiary);
}

.main-table thead th{
    text-align: left;
    width: 12rem;
}

.main-table tbody{
    color: #f5f5f5;
}

.main-table tbody tr:nth-child(even) {
    background: var(--secondary)
}

.main-table .rm-td {
    display: flex;
    justify-content: space-around;
}

.main-table tbody .rm-button {
    background-color: #ac1111;
    border: none;
    font-size: large;
    color: var(--background);
    border-radius: 8px;
}

.main-table tbody .rm-button:hover{
    background-color: #d81010;
    cursor: pointer;
}

.main-table tbody .edit-button {
    background-color: var(--tertiary);
    border: none;
    font-size: large;
    color: var(--primary);
    border-radius: 8px;
    padding: 0 0.2rem 0 0.2rem;
    text-decoration: none;
}

.main-table tbody .edit-button:hover {
    background-color: var(--quaternary);
    cursor: pointer;
}